@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to our book store!!!</h1>
    <p>We sell books from reputated authors and publishers in affordable prices.</p>
    <img class="img-fluid" src="/images/bsbanner.jpg" />
</div>
